# **Crawling data**

In [ ]:
import tweepy
import csv
import pandas as pd

In [ ]:
# API key didapatkan dari Twitter Dev
api_key = "nhh***"
api_secret_key = "tDD***"
access_token = "839***"
access_token_secret = "Iif***"

In [ ]:
auth = tweepy.OAuthHandler(api_key, api_secret_key)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [ ]:
file_name = "disabilitas_penyeberangan_12"
csvFile = open(file_name+".csv","a+",newline="",encoding="utf-8")
csvWriter = csv.writer(csvFile)

In [ ]:
c = []
i = []
u = []
t = []

for tweet in tweepy.Cursor(api.search, q='disabilitas penyeberangan -filter:retweets', count=1000, lang="id", since='2022-10-09', tweet_mode='extended'
                           ).items():
    print(tweet.created_at, tweet.id, tweet.user.name, tweet.full_text)
    c.append(tweet.created_at)
    i.append(tweet.id)
    u.append(tweet.user.name)
    t.append(tweet.full_text.encode("utf-8"))
    tweets = [tweet.created_at, tweet.id, tweet.user.name, tweet.full_text.encode("utf-8")]
    csvWriter.writerow(tweets)

print("Panjang : " + str(len(c)))

2022-10-16 03:27:43 1581487021570129920 KAI Commuter @agungrzqa Selamat pagi Kak. Kami informasikan di Stasiun Pesing tersedia penyeberangan antar peron yg dapat digunakan disabilitas, ibu hamil, lansia dan ibu dengan anak. Apabila membutuhkan bantuan, silakan bisa mengkomunikasikan ke petugas kami agar dapat dibantu. |1
2022-10-14 15:45:18 1580947864712187904 KAI Commuter @monicaevln Selamat malam Kak. Penyeberangan antar peron di stasiun diperuntukkan bagi pengguna prioritas (lansia, ibu hamil &amp; disabilitas) ya. Apabila membutuhkan bantuan atau dalam kondisi kesehatan yang kurang sehat, silakan bisa mengkomunikasikan ke petugas kami agar dapat dibantu. |1
Panjang : 2

In [ ]:
dictTweets = {"waktu":c, "id":i, "username":u, "teks":t}
df = pd.DataFrame(dictTweets, columns=["waktu", "id", "username", "teks"])
df

,waktu,id,username,teks
0,2022-10-16 03:27:43,1581487021570129920,KAI Commuter,b'@agungrzqa Selamat pagi Kak. Kami informasik...
1,2022-10-14 15:45:18,1580947864712187904,KAI Commuter,b'@monicaevln Selamat malam Kak. Penyeberangan...

In [ ]:
df.to_csv('disabilitas_penyeberangan_12.csv', index=False)

In [ ]:
file = '../content/disabilitas_penyeberangan_12.csv'

# tentukan lokasi file, nama file, dan inisialisasi csv
f = open(file, 'r', encoding="utf-8", errors='ignore')
reader = csv.reader(f)
df